.main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 6rem;
}

.menu {
  position: relative;
  left: 58rem;
  list-style: none;
  display: flex;
  justify-content: space-between;
}

.menuitems {
  margin-right: 2rem;
  padding: 0.5rem;
  border-radius: 1rem;
  font-size: 1.2rem;
  font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.menuitems:hover {
  background-color: white;
  color: black;
}

.introbox {
  flex-direction: column;
  position: relative;
  left: 1rem;
  top: 2rem;
}

.introtitle {
  position: relative;
  font-size: 3rem;
}

.context{
  font-size: 1.5rem;
}

.introimg {
  align-items: center;
}

.aboutme {
  position: relative;
  top: 5rem;
}

.aboutbox {
  flex-direction: column;
  position: relative;
  left: 5rem;
  top: 2rem;
}

.abouttitle {
  font-size: 3rem;
}

.aboutimg {
  align-items: center;
}

.projects {
  position: relative;
  top: 10rem;
  
}

.projectbox {
  flex-direction: column;
  position: relative;
  top: 2rem;
}

.projecttitle {
  font-size: 3rem;
}

.projectimg {
  align-items: center;
}

.btn {
    color: black;
    display: flex;
    justify-content: center;
    font-weight: bold;
    text-decoration-style: none;
    background-color: skyblue;
    border-radius: 10px;
    font-size: 1rem;
    padding: 1rem;
    border: none;
    text-align: center;
    margin: 0.5rem 0px;
    position: relative;
    top: 1.5rem;
    left: 15rem;
}

.btn:hover {
  background-color: rgb(86, 128, 145);
  color: white;
}

.btn:active {
  transform: translateY(1px);
}

.btn1 {
  color: black;
  display: flex;
  justify-content: center;
  font-weight: bold;
  text-decoration-style: none;
  background-color: skyblue;
  border-radius: 10px;
  font-size: 1rem;
  padding: 1rem;
  border: none;
  text-align: center;
  margin: 0.5rem 0px;
  position: relative;
  top: 1.5rem;
  left: 10rem;
}

.btn1:hover {
background-color: rgb(86, 128, 145);
color: white;
}

.btn1:active {
transform: translateY(1px);
}